body {
    background: hsl(257, 40%, 49%) url("../images/bg-desktop.svg") fixed no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

header {
    padding: 3.5rem;
}

header img {
    height: 3.5rem;
}

.illustr-img {
    padding: 1.2rem 0 0 3.9rem;
}

.reg-button {
    box-shadow: 2px 5px 8px 1px darkslateblue;
    color: #674baf;
    background-color: white;
    padding: 0.7rem 3.5rem;
    border-radius: 30px;
    font-weight: 600;
}

.reg-button:hover {
    color: white;
    background-color: #e052d4;
}

.reg-button:focus {
    color: white;
    background-color: #e052d4;
}

.attribution {
    text-align: center;
}

.attribution a {
    color: #e052d4;
}

.icons {
    text-align: right;
}

.icons a {
    border: 1px solid white;
    color: white;
    border-radius: 30%;
    padding: 0.6rem;
    margin: 0.25rem;
}

.icons a:hover {
    color: #e052d4;
    border: 1px solid #e052d4;
}

.fa-facebook-f {
    padding: 0.2rem;
}