body {
    background: hsl(257, 40%, 49%) url("../images/bg-desktop.svg") fixed no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.attribution {
    text-align: center;
}

.icons {
    text-align: right;
}

.icons a {
    border: 1px solid white;
    color: white;
    border-radius: 20%;
    padding: 0.6rem;
    margin: 0.25rem;
}

.icons a:hover {
    color: #ed53cc ;
    border: 1px solid #ed53cc;
}