body {
    background: hsl(257, 40%, 49%) url("../images/bg-mobile.svg") fixed no-repeat;
    background-size: 100vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
}

/*---------- HEADER ----------*/

header {
    padding: 3.5rem;
}

header img {
    height: 3.5rem;
}

/*---------- LEFT COLUMN ----------*/
.illustr-img {
    padding: 2.5rem 1rem 0 3.5rem;
}

.illustr-img img {
    height: 80%;
}

/*---------- RIGHT COLUMN ----------*/
.title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    padding: 2.5rem 0 0.5rem 0;
}

.description {
    padding: 2.5rem;
}

.description p {
    padding-bottom: 0.5rem;
}

.reg-button {
    box-shadow: 2px 5px 8px 1px darkslateblue;
    color: #674baf;
    background-color: white;
    border-color: #674baf;
    padding: 0.7rem 3.5rem;
    border-radius: 30px;
    font-weight: 600;
}

.reg-button:hover {
    color: white;
    background-color: #e052d4;
    border-color: #674baf;
}

.reg-button:focus {
    color: white;
    background-color: #e052d4;
}

/*---------- FOOTER ----------*/

.attribution {
    text-align: center;
}

.attribution a {
    color: #e052d4;
}

.icons {
    text-align: right;
    padding-right: 4rem;
}

.icons a {
    border: 1px solid white;
    color: white;
    border-radius: 30%;
    padding: 0.6rem;
    margin: 0.25rem;
}

.icons a:hover {
    color: #e052d4;
    border: 1px solid #e052d4;
}

.fa-facebook-f {
    padding: 0.2rem;
}

/*---------- MEDIA QUERIES ----------*/
@media (min-width: 768px) {
    body {
        background: hsl(257, 40%, 49%) url("../images/bg-desktop.svg") fixed no-repeat;
    }
}

@media (max-width: 768px) {
    header img {
        width: 50%;
    }

    .illustr-img img {
        max-width:80%;
        height:auto;
    }

    .title {
        padding: 4rem 0 1.3rem 0;
        margin: 0;
        font-size: 2rem;
    }

    .description {
        padding-top: 0;
        text-align: center;
    }

    .description p {
        padding: 0 0 1.3rem 0
    }

    .icons {
        text-align: center;
        padding: 1.3rem 0 3.5rem 0
    }
}